/*FONT*/
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Playfair+Display:ital,wght@1,500&display=swap");



/*UNIVERSAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}



/*MAIN BOX*/
.container{
    height: 100vh;
    width: 100%;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}



/*HEADING*/
.container h1{
    font-family: 'Dancing Script', cursive;
    font-size: 800;
}



/*GALLERY*/
.container .gallery{
    display: flex;
    justify-content: center;
    align-items: center;
}



/*IMAGE BOX*/
.container .gallery .img-box{
    height: 500px;
    width: 80px;
    border-radius: 50px;
    margin: 5px;
    border: 0.5px solid lightgrey;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    cursor: pointer;
    position: relative;
    transition: width 0.4s;
}



/*IMAGE BOX TEXT*/
.container .gallery .img-box h2{
    font-family: "Playfair Display", serif;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.2rem;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 100%;
    padding: 2% 5%;
    border-radius: 8px 0 0 8px;
    background-color:  rgba(238, 247, 255, 0.5882352941);
    transition: bottom 0.4s, opacity;
}



/*IMAGES*/
.container .gallery .img-box:nth-child(1) {
    background: url(img11.jpg);
    background-position: center;
    background-size: cover;
}

.container .gallery .img-box:nth-child(2) {
    background: url(img2.jpg);
    background-position: center;
    background-size: cover;
}

.container .gallery .img-box:nth-child(3) {
    background: url(img3.jpg);
    background-position: center;
    background-size: cover;
}

.container .gallery .img-box:nth-child(4) {
    background: url(img4.jpg);
    background-position: center;
    background-size: cover;
}



/*IMAGE HOVER*/
.container .gallery .img-box:hover {
    width: 300px;
}



/*IMAGE TEXT HOVER*/
.container .gallery .img-box:hover h2 {
    opacity: 1;
    bottom: 10%;
}



/*MEDIA SCREEN*/
@media screen and (max-width: 600px) {
    .img-box {
      height: 300px;
    }
    .img-box:hover {
      width: 220px;
    }
  }
  @media screen and (max-width: 450px) {
    h1 {
      font-size: 1.2rem;
    }
    h2 {
      font-size: 0.9rem;
    }
    .img-box {
      width: 50px;
      height: 200px;
      border-radius: 20px;
    }
    .img-box:hover {
      width: 110px;
    }
  }